- semantic_form_for [:office, @person, @appointment] do |form|
  = render "shared/form_errors", :errors => @appointment.errors

  - form.inputs "General Information", :class => "" do
    = form.input :service_reminder, :collection => @service_reminders, :label => 'Appointment'
    = form.input :custom_name
    = form.input :custom_description
    = form.input :custom_email_subject
    = form.input :custom_email_body
    = form.input :appointment_date, :as => :string, :wrapper_html => {:class => 'float_left'}, :input_html => {:class => 'datetimepicker', :title => 'Set Date and Time'}
    = submit_button 'Appointment'
    .or-cancel
      or #{link_to 'Cancel', office_person_path(@person)}
