- semantic_form_for [:admin, @service_reminder] do |form|
  = render "shared/form_errors", :errors => @service_reminder.errors

  - form.inputs "General Information", :class => "" do
    = form.input :name
    = form.input :description
    = form.input :email_subject
    = form.input :email_body
  - form.buttons do
    = service_reminder_store_helper(form)
    = service_reminder_company_helper(form)
    = submit_button 'Service Reminder'
    .or-cancel
      or #{link_to 'Cancel', (@store ? [:admin, @company, @store] : [:admin, :service_reminders])}
