- content_for(:secondary_navigation) do
  - if @company
    = render 'admin/companies/nav'
  - else
    = render 'nav'

- if @company
  = render 'admin/companies/title'
  = link_to 'New Reminder', new_admin_company_service_reminder_path(@company), :class => 'button positive right'
  .clear
  %h2 Reminders
- else
  %h1.left Reminders
  = link_to 'New Reminder', new_admin_service_reminder_path, :class => 'button positive right'
  .clear

%table.table
  %thead
    %tr
      %th Name

  %tbody
    - @service_reminders.each do |service_reminder|
      - if @company
        %tr
          %td= link_to service_reminder.name, edit_admin_company_service_reminder_path(@company, service_reminder)
      - else
        %tr
          %td= link_to service_reminder.name, edit_admin_service_reminder_path(service_reminder)

    - if @service_reminders.empty?
      %tr
        %td{ :colspan => 1 } No Service Reminders found.
