- semantic_form_for [:company, @company], :html => { :multipart => true } do |form|
  = render "shared/form_errors", :errors => @company.errors

  - form.inputs "", :class => "" do
    - if @company.avatar.present?
      %li
        %label Current Logo
        = image_tag @company.avatar.url(:thumb)
    = form.input :avatar, :as => :file, :label => 'Logo', :hint => 'Only JPG or PNG files'
    = form.input :name

  - form.buttons do
    = submit_button 'Company'
    .or-cancel
      or #{link_to 'Cancel', company_root_path}