- f.inputs "", :class => "fields reminder hide_custom" do
  = f.input :service_reminder, :collection => @service_reminders, :prompt => 'Select Reminder', :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Select Reminder', :onchange => 'select_reminder(this)'}, :label => false
  .clearfix
  = f.input :interval, :as => :select, :collection => months_list, :prompt => 'Set Interval', :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Set Interval'}, :label => false
  = f.input :recurring, :as => :boolean, :wrapper_html => {:class => 'float_left recurring'}, :input_html => {:title => 'Recurring?'}
  = f.input :max_send, :as => :hidden, :input_html => {:value => '1000000'}
  / = f.input :max_send, :as => :select, :collection => [['Unlimited','']] + months_list(15, 'times'), :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Set Max Sends'}, :label => false

  / %li.left= link_to_function "Remove Reminder", "remove_fields(this)", :class => 'remove_button'
  %li= link_to_function "Remove Reminder", "remove_fields(this)", :class => 'remove_button'

  %li &nbsp;
  = f.input :custom_name, :wrapper_html => {:class => 'custom'}, :input_html => {:title => ''}
  = f.input :custom_email_subject, :wrapper_html => {:class => 'custom'}, :input_html => {:title => ''}
  = f.input :custom_email_body, :wrapper_html => {:class => 'custom'}, :input_html => {:title => ''}

  = f.hidden_field :_destroy