- if @person.appointments.any?
  %table.table
    %thead
      %tr
        %th= @company.sub_p
        %th Date and Time
        %th Sent
        %th

    - @person.appointments.each do |reminder|
      %tbody
        %tr
          %td= reminder.service_reminder.name
          %td= detail_date reminder.appointment_date
          %td= yes_no_helper(reminder.times_sent.to_i > 0)
          %td= link_to 'Remove', company_person_customer_service_reminder_path(@person, reminder), :confirm => "Delete this #{@company.sub_s}?", :method => :delete
- if @person.appointments.empty?
  %p No #{@company.sub_p} yet

