- top = @i == 1 ? 'top' : ''
%div{:class => "fields_holder #{top}"}
  - @i += 1
  - f.inputs "#{@company.sub_s} Information", :class => "fields vehicle" do
    = f.input :year, :wrapper_html => {:class => 'float_left'}
    = f.input :make, :wrapper_html => {:class => 'float_left'}
    = f.input :model, :wrapper_html => {:class => 'float_left'}
    = f.input :email, :wrapper_html => {:class => 'float_left'}, :label => "Email for this #{@company.sub_s}"
    - if @company.additional_vehicle_fields
      = f.input :milage_at_signup, :wrapper_html => {:class => 'float_left'}
      = f.input :average_miles_per_year, :wrapper_html => {:class => 'float_left'}

    .clearfix
    %li.add_service_reminder_title Reminders
    -f.semantic_fields_for :customer_service_reminders do |builder|
      = render "customer_service_reminder_fields", :f => builder

    %li.add_reminder= link_to_add_fields("Add Reminder", f, :customer_service_reminders)

    %li.remove_v
      /%p &nbsp;
      = link_to_function "Remove #{@company.sub_s}", "remove_fields(this)", :class => 'remove_button'
    = f.hidden_field :_destroy
    /
    /
    / %li.left
    /   %p &nbsp;
    /   = link_to_function "Remove #{@company.sub_s}", "remove_fields(this)", :class => 'remove_button'
    / = f.hidden_field :_destroy
    /
    / %li &nbsp;
    / %li.add_service_reminder_title Reminders
    / -f.semantic_fields_for :customer_service_reminders do |builder|
    /   = render "customer_service_reminder_fields", :f => builder
    /
    / %li.add_reminder= link_to_add_fields("Add Reminder", f, :customer_service_reminders)
