- content_for(:stylesheets) do
  = stylesheet_link_tag 'customer.css'

- content_for(:javascripts) do
  = javascript_include_tag 'customer.js'

- semantic_form_for [@store, @person] do |form|
  = render "shared/form_errors", :errors => @person.errors

  - form.inputs "", :class => "" do
    - if ['edit','update'].include?(controller.action_name)
      %li
        %label &nbsp;
        %strong Customer added on #{short_date(@person.created_at)}
    = form.input :first_name
    = form.input :last_name
    = form.input :email
    = form.input :send_mass_emails, :as => :normal_boolean
    = form.input :unsubscribe, :as => :normal_boolean if ['edit','update'].include?(controller.action_name)

  - if ['new','create'].include?(controller.action_name)
    - @i = 1

    - if @company.company_type_id == 1
      -form.semantic_fields_for :vehicles do |builder|
        = render "vehicle_fields", :f => builder
      %div.add_vehicle= link_to_add_fields("Add #{@company.sub_s}", form, :vehicles)

    - elsif @company.company_type_id == 2
      -form.semantic_fields_for :pets do |builder|
        = render "pet_fields", :f => builder
      %div.add_vehicle= link_to_add_fields("Add #{@company.sub_s}", form, :pets)

    - elsif @company.company_type_id == 3
      -form.semantic_fields_for :appointments do |builder|
        = render "appointment_fields", :f => builder
      %div.add_vehicle= link_to_add_fields("Add #{@company.sub_s}", form, :appointments)

    - elsif @company.company_type_id == 4
      -form.semantic_fields_for :general_reminders do |builder|
        %h2 Reminders
        = render "general_reminder_fields", :f => builder
      %div.add_vehicle= link_to_add_fields("Add #{@company.sub_s}", form, :general_reminders)

  - form.buttons do
    = content_tag :button, 'Save Customer', {:type => :submit, :class => 'positive'}
    .or-cancel
      or #{link_to 'Cancel', (@person.id ? store_person_path(@store, @person) : store_people_path(@store))}
