- if @person.appointments.any?
  %table.table
    %thead
      %tr
        %th= @company.sub_p
        %th Date and Time
        %th Sent

    - @person.appointments.each do |reminder|
      %tbody
        %tr
          %td= reminder.service_reminder.name
          %td= detail_date reminder.appointment_date
          %td= yes_no_helper(reminder.times_sent.to_i > 0)
- if @person.appointments.empty?
  %p No #{@company.sub_p} yet

