%ul#vehicles_list
  - @person.pets.each do |pet|
    %li
      %h3
        = pet.name
        = link_to "Add #{@company.reminder_title}", new_store_person_pet_customer_service_reminder_path(@store, @person, pet), :class => 'right'
      - if pet.customer_service_reminders.any?
        %table.table
          %thead
            %tr
              %th Service Reminder
              %th Created
              %th Last Sent
              %th Interval
              %th Recurring
              %th Times Sent
              %th Max Sends
              %th

          - pet.customer_service_reminders.each do |reminder|
            %tbody
              %tr
                %td= reminder.service_reminder.name
                %td= short_date reminder.created_at
                %td= reminder.last_sent
                %td= pluralize(reminder.interval, 'month')
                %td= yes_no_helper reminder.recurring
                %td= reminder.times_sent
                %td= max_send_helper reminder.max_send
                %td= link_to 'Remove', store_person_pet_customer_service_reminder_path(@store, @person, pet, reminder), :confirm => "Delete this #{@company.sub_s}?", :method => :delete
      - if pet.customer_service_reminders.empty?
        %p No reminders for this #{@company.sub_s} yet.

  - if @person.pets.empty?
    %li No #{@company.sub_p} yet.
