%ul#vehicles_list
  - @person.vehicles.each do |vehicle|
    %li
      %h2
        = vehicle.name
        - if vehicle.email.present?
          = " - " + vehicle.email
          - if vehicle.unsubscribe
            %strong= "- Unsubscribed"
        = link_to "Add #{@company.reminder_title}", new_store_person_vehicle_customer_service_reminder_path(@store, @person, vehicle), :class => 'right button'
        - if @company.additional_vehicle_fields
          - if vehicle.milage_at_signup.present?
            %br
            %small
              = vehicle.milage_at_signup.to_s + " Miles at signup"
          - if vehicle.average_miles_per_year.present?
            %br
            %small
              = vehicle.average_miles_per_year.to_s + " Average miles per year"

      - if vehicle.customer_service_reminders.any?
        %table.table
          %thead
            %tr
              %th Reminder
              %th Created
              %th Last Sent
              %th Interval
              %th Recurring
              %th Times Sent
              / %th Max Sends
              %th

          - vehicle.customer_service_reminders.each do |reminder|
            %tbody
              %tr
                %td= reminder.service_reminder.name
                %td= short_date reminder.created_at
                %td= reminder.last_sent
                %td= pluralize(reminder.interval, 'month')
                %td= yes_no_helper reminder.recurring
                %td= reminder.times_sent
                / %td= max_send_helper reminder.max_send
                %td= link_to 'Remove', store_person_vehicle_customer_service_reminder_path(@store, @person, vehicle, reminder), :confirm => "Delete this #{@company.reminder_title}?", :method => :delete
      - if vehicle.customer_service_reminders.empty?
        %p No reminders for this #{@company.sub_s} yet.

  - if @person.vehicles.empty?
    %li No #{@company.sub_p} yet.
