- content_for(:secondary_navigation) do
  = render 'nav'

%h1 Customers

= form_tag admin_people_path, :method => 'get', :id => 'search-form' do
  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  .search
    %a{:class => 'clear-search', :title => 'clear search'}
    = text_field_tag :search, params[:search], :class => 'search_box', :title => 'name', :tabindex => 1


.clearfix
#search-results
  = render 'people'