- content_for(:stylesheets) do
  = stylesheet_link_tag 'person.css'

- content_for(:secondary_navigation) do
  = render 'nav'

= render 'title'
%p Added #{short_date(@person.created_at)}
%p &nbsp;

- if @company.company_type_id == 1
  = render 'show_vehicle_list'
- elsif @company.company_type_id == 2
  = render 'show_pet_list'
- elsif @company.company_type_id == 3
  = render 'show_appointment_list'
