- content_for(:stylesheets) do
  = stylesheet_link_tag 'person.css'

- content_for(:secondary_navigation) do
  = render 'nav'

= render 'title'

= if @company.use_sub_item?
  = render 'show_vehicle_list'
- else
  = render 'show_appointment_list'