/ - @store = Store.first
/ - @reminder = CustomerServiceReminder.last
/ - @person = Person.first
/
/ %html
/   %head
/   %body{:style => 'margin:0px; padding:0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background:#f3f3f3;' }
/     %p &nbsp;
/     %table{:colspacing => 'none', :cellpadding => 'none', :style => 'width:700px; margin:0 auto; padding:0; border:1px solid #999; background:#ffffff;' }
/       %tr{:style => 'background:#360000; height:120px; color:#f3f3f3;' }
/         %td{:style => 'width:120px; height:100px; border:10px solid white; float:left; margin:10px 15px 10px 10px; background:#ccc;' }
/         %td{:style => 'float:left; margin:10px;' }
/           %table
/             %tr
/               %td{:style => 'padding-top:13px; font-size:20px; color:#f1f1f1;' } A Friendly Reminder From
/             %tr
/               %td{:style => 'font-size:30px; color:#f1f1f1;' }= @store.name
/             %tr
/               %td{:style => 'padding-top:5px; font-size:12px; color:#f1f1f1;' }
/                 %span{:style => 'padding-right:8px; color:#f1f1f1;' }= @store.address
/                 - unless @store.address_two.blank?
/                   %span{:style => 'padding-right:8px; color:#f1f1f1;' }= @store.address_two
/                 %span{:style => 'padding-right:8px; color:#f1f1f1;' }= @store.city
/                 %span{:style => 'padding-right:8px; color:#f1f1f1;' }= @store.state
/                 %span{:style => 'padding-right:8px; color:#f1f1f1;' }= @store.zip
/
/       %tr
/         %td &nbsp;
/
/       %tr
/         %td{:colspan => 3, :style => 'padding:0 15px;' }
/           %p Dear #{@person.name},
/           = @reminder.service_reminder.name == 'Custom Reminder' ? @reminder.custom_email_body : @reminder.service_reminder.email_body
/
/           %hr
/
/           %p
/             %strong Appointment:
/             = @reminder.service_reminder.name
/             on
/             = @reminder.appointment_date.strftime( '%b %d, %Y')
/
/           %hr
/
/           %p Thank You,
/
/           %p
/             %strong= @store.name
/             %br
/             %small= @store.address
/             %br
/             - unless @store.address_two.blank?
/               %small= @store.address_two
/               %br
/               = @store.city
/               ,
/               = @store.state
/               = @store.zip
/
/       %tr
/         %td &nbsp;
/
/       %tr
/         %td{:colspan => 3, :style => 'background:#360000; padding:10px; color:#f3f3f3; font-size:12px;' }
/           Unsubscribe

---
:css
  tr.even { background:#f3f3f3; }
  td { padding:3px; margin:0; }

%table
  %thead
    %tr
      %th ID
      %th Person
      %th Vehicle
      %th Reminder
      %th Sent On
      %th Interval
      %th Recurring
      %th Times Sent
      %th Max Sends
      %th A Date

  %tbody
    - @reminders.each do |r|
      %tr{ :class => cycle(:odd, :even) }
        %td= r.id
        %td= r.person.name if r.person
        %td= (r.vehicle.year.to_s + " " + r.vehicle.model.to_s + " " + r.vehicle.make.to_s) if r.vehicle
        %td= r.service_reminder.name
        %td= r.sent_on.to_s
        %td= r.interval.to_s
        %td= r.recurring.to_s
        %td= r.times_sent.to_s
        %td= r.max_send.to_s
        %td= r.appointment_date.to_s
    - @a_reminders.each do |r|
      %tr{ :class => cycle(:odd, :even) }
        %td= r.id
        %td= r.person.name if r.person
        %td= (r.vehicle.year.to_s + " " + r.vehicle.model.to_s + " " + r.vehicle.make.to_s) if r.vehicle
        %td= r.service_reminder.name
        %td= r.sent_on.to_s
        %td= r.interval.to_s
        %td= r.recurring.to_s
        %td= r.times_sent.to_s
        %td= r.max_send.to_s
        %td= r.appointment_date.to_s