%h1 Listing stores

%table
  %tr
    %th Name
    %th Address
    %th Address two
    %th Phone
    %th Phone two
    %th Email
    %th Fax
    %th City
    %th State
    %th Zip
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= store.name
      %td= store.address
      %td= store.address_two
      %td= store.phone
      %td= store.phone_two
      %td= store.email
      %td= store.fax
      %td= store.city
      %td= store.state
      %td= store.zip
      %td= link_to 'Show', store
      %td= link_to 'Edit', edit_store_path(store)
      %td= link_to 'Destroy', store, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Store', new_store_path
