= javascript_include_tag :ckeditor

- semantic_form_for [:admin, @company], :html => { :multipart => true } do |form|
  = render "shared/form_errors", :errors => @company.errors

  - form.inputs "", :class => "" do
    - if @company.avatar.present?
      %li
        %label Current Logo
        = image_tag @company.avatar.url(:thumb)
    = form.input :avatar, :as => :file, :label => 'Logo', :hint => 'Only JPG or PNG files'
    = form.input :name
    = form.input :company_type_id, :as => :select, :collection => [['Automotive',1],['Vets Office', 2],['Medical Office',3]], :prompt => true, :required => true
    = form.input :additional_vehicle_fields, :as => :normal_boolean
    = form.input :thank_you_subject
    %li
      %label Thank You Email Text
    %li
      = form.cktext_area :thank_you_text, :toolbar => 'Easy', :width => 620, :height => 400

  - form.buttons do
    = submit_button 'Company'
    .or-cancel
      or #{link_to 'Cancel', ( @company.id ? admin_company_path( @company ) : admin_companies_path )}