.secondary-navigation.clearfix
  = tabs_tag :namespace => :subnav do |tab|
    = tab.company_show 'Company Overview', admin_company_path(@company), :class => "first" if ['show','edit'].include?(controller.action_name) || ['stores','service_reminders','people'].include?(controller.controller_name)
    = tab.company_edit 'Edit Company', edit_admin_company_path(@company) if ['edit','update','show'].include?(controller.action_name) || ['stores','service_reminders','people'].include?(controller.controller_name)
    = tab.company_stores  @company.heading_p, admin_company_stores_path(@company) if ['edit','update','show'].include?(controller.action_name) || ['stores','service_reminders','people'].include?(controller.controller_name)

    = tab.company_store 'Store/Office Overview', admin_company_store_path(@company, @store) if ['edit','update','show'].include?(controller.action_name) && @store

    = tab.people 'People', admin_company_people_path(@company) if ['edit','update','show'].include?(controller.action_name) || ['stores','service_reminders','people'].include?(controller.controller_name)

    = tab.person_edit  'Edit Person', edit_admin_company_person_path(@company, @person) if ['edit','update','show'].include?(controller.action_name) && @person


    = tab.company_new 'New Company', new_admin_company_path, :class => "right last" if ['index','new'].include?(controller.action_name) && controller.controller_name == 'companies'
    = tab.store_new 'Add ' + @company.heading_s, new_admin_company_store_path, :class => "right last" if ['index','new'].include?(controller.action_name) && controller.controller_name == 'stores'

    = tab.service_reminder_new 'New Service Reminder', new_admin_company_store_service_reminder_path(@company, @store), :class => "right last" if ['index','new'].include?(controller.action_name) && ['service_reminders'].include?(controller.controller_name)

    = tab.person_new 'New Person', new_admin_company_person_path(@company), :class => "right last" if ['index','new'].include?(controller.action_name) && controller.controller_name == 'people'