- content_for(:secondary_navigation) do
  = render 'nav'

= render 'title'
.clear

- if @company.avatar.present?
  %p
    = image_tag @company.avatar.url(:thumb)
  %p &nbsp;
%p
  %b Type:
  = @company.type
%p
  %b Total Customers:
  = @company.customers(@company.store_ids).count
%p
  %b Subscribed Customers:
  = @company.customers(@company.store_ids, true).count

%hr
= link_to 'Delete Company', admin_company_path(@company), :confirm => 'Delete this company?', :method => :delete
