- top = @i == 1 ? 'top' : ''
%div{:class => "fields_holder #{top}"}
  - @i += 1
  - f.inputs "Vehicle Information", :class => "fields vehicle" do
    = f.input :year, :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Year'}, :label => false
    = f.input :make, :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Make'}, :label => false
    = f.input :model, :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Model'}, :label => false
    = f.input :email, :input_html => {:class => 'vehicle_email'}, :wrapper_html => {:class => 'float_left'}, :input_html => {:title => 'Email'}, :label => false

    %li.left= link_to_function "Remove Vehicle", "remove_fields(this)", :class => 'remove_button'
    = f.hidden_field :_destroy

    %li &nbsp;
    %li.add_service_reminder_title Service Reminders
    -f.semantic_fields_for :customer_service_reminders do |builder|
      = render "customer_service_reminder_fields", :f => builder

    %li.add_reminder= link_to_add_fields("Add Service Reminder", f, :customer_service_reminders)

:javascript
  $('fieldset.fields input[type=text]').watermark();