- semantic_form_for [:admin, @company, @store] do |form|
  = render "shared/form_errors", :errors => @store.errors

  - form.inputs "General Information", :class => "" do
    = form.input :name
    = form.input :address
    = form.input :address_two
    = form.input :city
    = form.input :state, :as => :select, :collection => Carmen::states, :prompt => true
    = form.input :zip
  - form.inputs "Contact Information", :class => "" do
    = form.input :phone
    = form.input :phone_two, :as => :phone
    = form.input :fax
    = form.input :email
  - form.buttons do
    = submit_button @store.type
    .or-cancel
      or #{link_to 'Cancel', ( @store.id ? admin_company_store_path( @company, @store ) : admin_company_stores_path(@company) )}
