- content_for(:secondary_navigation) do
  = render 'admin/companies/nav'

= render 'admin/companies/title'
= link_to 'Add ' + @company.heading_s, new_admin_company_store_path, :class => 'button positive right'
.clear
%h2= @company.heading_p

%table.table
  %thead
    %tr
      %th Name
      / %th Address
      / %th Address two
      / %th Phone
      / %th Phone two
      %th Email
      / %th Fax
      %th City
      %th State
      %th{:title => 'Customer Count'} Cust.
      / %th Zip

  %tbody
    - @stores.each do |store|
      %tr
        %td= link_to store.name, admin_company_store_path(@company, store)
        / %td= store.address
        / %td= store.address_two
        / %td= store.phone
        / %td= store.phone_two
        %td= store.email
        / %td= store.fax
        %td= store.city
        %td= store.state
        %td= store.customers.count
        / %td= store.zip
