- semantic_form_for @store do |form|
  = render "shared/form_errors", :errors => @store.errors

  - form.inputs "Contact Information", :class => "" do
    = form.input :phone
    = form.input :phone_two
    = form.input :email
    = form.input :fax
  - form.inputs "Location", :class => "" do
    = form.input :address
    = form.input :address_two
    = form.input :city
    = form.input :state
    = form.input :zip
  - form.buttons do
    = submit_button 'Store'
    .or-cancel
      or #{link_to 'Cancel', store_path(@store)}