- semantic_form_for [:admin, @company, @person] do |form|
  = render "shared/form_errors", :errors => @person.errors

  - form.inputs "General Information", :class => "" do
    = form.input :username
    = form.input :first_name
    = form.input :last_name
    = form.input :email, :required => true
    = form.input :store, :collection => @stores, :label => @company.heading_s, :prompt => true, :required => true
  - form.inputs "Online Access", :class => "" do
    = form.input :online_access, :as => :normal_boolean, :hint => "Uncheck to revoke the person's ability to login." if ['edit','update'].include?(controller.action_name)
    = form.input :role, :collection => @roles, :prompt => true
    = form.input :password, :required => true, :input_html => {:autocomplete => 'off'}
    = form.input :password_confirmation, :required => true, :input_html => {:autocomplete => 'off'}
  - form.buttons do
    = submit_button 'Person'
    .or-cancel
      or #{link_to 'Cancel', admin_company_people_path(@company) }
