- semantic_form_for [:admin, @person] do |form|
  = render "shared/form_errors", :errors => @person.errors

  - form.inputs "General Information", :class => "" do
    = form.input :prefix
    = form.input :first_name
    = form.input :last_name
    = form.input :email
    = form.input :store, :label => 'Store/Office'
  - form.inputs "Online Access", :class => "" do
    = form.input :online_access, :as => :normal_boolean
    = form.input :role, :prompt => true
    = form.input :password
    = form.input :password_confirmation
  - form.buttons do
    = submit_button 'Person'
    .or-cancel
      or #{link_to 'Cancel', admin_people_path}
