- content_for(:secondary_navigation) do
  = render 'admin/companies/nav'

= render 'admin/companies/title'
= link_to 'Add Person', new_admin_company_store_path, :class => 'button positive right'
.clear
%h2 People

%table.table
  %thead
    %tr
      %th Username
      %th Name
      %th Email
      %th Role

  %tbody
    - @people.each do |person|
      %tr
        %td= link_to person.username, edit_admin_company_person_path(@company, person)
        %td= person.name
        %td= person.email
        %td= person.role.name
