- content_for(:secondary_navigation) do
  - if @store
    = render "company/companies/nav"
  - else
    = render "nav"

- if @store
  = render 'company/stores/title'
  %h2 New Service Reminder
- else
  = render 'title'

%p Any reminder you add will be usable by all stores.
%p &nbsp;

= render 'form'
