<html>
  <head></head>
  <body style='margin:0px; padding:0px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background:#f3f3f3;'>
    <p>&nbsp;</p>
    <table cellpadding='none' colspacing='none' style='width:700px; margin:0 auto; padding:0; border:1px solid #999; background:#ffffff;'>
    <tr style='height:140px;'>
      <%- if @store.company.avatar.present? -%>
        <td style='height:120px; float:left; margin:10px 15px 10px 10px;'>
          <%= image_tag @store.company.avatar.url(:thumb), :alt => "#{@store.name}" %>
        </td>
      <%- end -%>
      <td style='float:left; margin:10px;'>
        <table>
          <tr>
            <td style='padding-top:13px;'>&nbsp;</td>
          </tr>
          <tr>
            <td style='padding-top:13px; font-size:20px;'>A Friendly Reminder From</td>
          </tr>
          <tr>
            <td style='font-size:30px;'><%= @store.name %></td>
          </tr>
          <tr>
            <td style='padding-top:5px; font-size:12px;'>
              <span style='padding-right:8px;'><%= @store.address %></span>
              <%- unless @store.address_two.blank? -%>
                <span style='padding-right:8px;'><%= @store.address_two %></span>
              <%- end -%>
              <span style='padding-right:8px;'><%= @store.city %></span>
              <span style='padding-right:8px;'><%= @store.state %></span>
              <span style='padding-right:8px;'><%= @store.zip %></span>
              <span style='padding-right:8px;'><%= @store.phone %></span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan='3' style='padding:15px; background:#FAFAFA; border-top:1px solid #cccccc;'>