%p#notice= notice

%p
  %b Name:
  = @service_reminder.name
%p
  %b Description:
  = @service_reminder.description
%p
  %b Email subject:
  = @service_reminder.email_subject
%p
  %b Email body:
  = @service_reminder.email_body

= link_to 'Edit', edit_service_reminder_path(@service_reminder)
\|
= link_to 'Back', service_reminders_path
