%h1
  - if @store.company.avatar.present?
    #image_holder
      = image_tag @store.company.avatar.url(:thumb), :alt => "#{@store.name}"
  - else
    = @store.name

%nav.right
  %ul
    / %li= link_to image_tag("icons/config.png", :title => "Edit Information"), edit_store_path(@store)
    %li= link_to image_tag("icons/account.png", :title => "Edit My Profile"), edit_profile_store_person_path(@store, current_person)
    %li= link_to image_tag("icons/logout.png", :title => "Logout"), logout_path

%nav
  %ul
    %li= link_to "Home", root_path
    %li= link_to "New Customer", new_store_person_path(@store)
