%h1
  - if @store.company.avatar.present?
    #image_holder
      = link_to (image_tag @store.company.avatar.url(:thumb), :alt => "#{@store.name}"), root_path
  - else
    = link_to @store.name, root_path

%nav.right
  %ul
    %li= link_to image_tag("icons/config.png", :title => "Edit Information"), edit_store_path(@store)
    %li= link_to image_tag("icons/logout.png", :title => "Logout"), logout_path

%nav
  %ul
    %li= link_to "Customers", store_people_path(@store)
